@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>API Key: @ViewBag.APIKey</h2>
<h2>DBPassword:@ViewBag.DBPwd</h2>
<h2>Admin Accounts:@ViewBag.AdminAccount</h2>
 